/* -------------- CAS PARTICULIER 4/3 -------------- */
@media (min-width: 991px) and (max-width: 1500px) { 

    .a-propos {
        width: 80%;
    }
}

/* -------------- FORMAT TABLETTE -------------- */
@media all and (max-width: 991px) { 
    /* ---------- */           /* ---------- */
    /* -------------- GENERAL -------------- */
    /* ---------- */           /* ---------- */

    /* -------------- header -------------- */
    header nav .toggle {
        display: block;
        font-size: 35px;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    header nav .logo {
        position: relative;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
        font-size: 40px;
    }

    header nav .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(75, 75, 75, 0.445);
        backdrop-filter: blur(5px);
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 1s;
        padding: 150px 0;
        z-index: 1;
    }

    header nav .menu li a {
        font-size: 22px;
    }

    .open .menu {
        transform: translateX(0);
    }

    /* -------------- footer -------------- */
    footer .btn-footer {
        flex-direction: column;
    }

    footer .btn-footer .contact, .voir-plus {
        width: 100%;
    }

    footer .btn-footer .contact  {
        border-bottom: 3px solid #252A37;
    }

    footer .btn-footer .contact button, .voir-plus button {
        width: 135px;
    }

    footer .btn-footer .contact p, .voir-plus p {
        padding-left: 40px;
    }

    /* -------------- construct item -------------- */
    .contruct-item {
        width: 400px;
    }

    .contruct-item img {
        width: 90px;
    }

    .contruct-item h1 {
        font-size: 20px;
    }


    /* ---------- */                /* ---------- */
    /* -------------- PAGE ACCUEIL -------------- */
    /* ---------- */                /* ---------- */

    /* -------------- accueil -------------- */

    .accueil {
        height: 50vh;
    }

    .accueil h1 {
        font-size: 70px;
    }

    /* -------------- a propos -------------- */
    .a-propos {
        all: unset;
        display: flex;
        flex-direction: column;
        margin: 60px auto;
        width: 70%;
        transform: translateY(4%)
    }

    .a-propos .text {
        all: unset;
        background: #E3E3E3;
        padding: 15% 15% 25% 15%;
    }

    .a-propos img {
        all: unset;
        width: 80%;
        margin: 0 auto;
        transform: translateY(-20%)
    }    

    /* ---------- */                /* ---------- */
    /* -------------- PAGE COVERS / COMPO -------------- */
    /* ---------- */                /* ---------- */

    /* -------------- title -------------- */
    .title h1 {
        font-size: 35px;
    }

    /* -------------- media -------------- */
    .main .media .subtitle h2 {
        font-size: 20px;
    }

    .main .media .subtitle .lg {
        border: 2px solid white;
    }
    
    .main .media .subtitle .little-lg {
        margin-right: 20px;
    }
    
    .main .media .subtitle .tall-lg {
        margin-left: 20px;
    }

    .main .media .media-body {
        display: flex;
        flex-direction: column;
    }

    .main .media .media-body .media-card-left, .media-card-right {
        width: 100%;
        align-items: center;
    }

    .main .media .media-body .media-card p {
        font-size: 16px;
    }


    .main .repertoire {
        grid-template-columns: 50% 50%;
    }


    /* ---------- */                /* ---------- */
    /* -------------- PAGE REPERTOIRE -------------- */
    /* ---------- */                /* ---------- */

    /* -------------- repertoire -------------- */
    .main .repertoire {
        margin: 50px auto;
    }

    .main .repertoire p {
        font-size: 14px;
    }

    /* ---------- */                /* ---------- */
    /* -------------- PAGE CREDITS -------------- */
    /* ---------- */                /* ---------- */

    /* -------------- credit -------------- */

    .credit .credit-item {
        flex-direction: column;
    }

    .credit .credit-item .text-img {
        width: 100%;
        text-align: center;
    }

    /* ---------- */                /* ---------- */
    /* -------------- PAGE BONUS -------------- */
    /* ---------- */                /* ---------- */

    .main .container-bonus {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
    }

    .main .container-bonus .site-copains, .livre-dor {
        width: 70%;
    }

    .main .container-bonus .livre-dor {
        margin-top: 80px;
    }
}

/* -------------- FORMAT SMARTPHONE -------------- */
@media all and (max-width: 500px) {
    /* ---------- */           /* ---------- */
    /* -------------- GENERAL -------------- */
    /* ---------- */           /* ---------- */

    /* -------------- header -------------- */
    header nav img {
        width: 200px;
    }

    /* -------------- FOOTER -------------- */
    footer .citation {
        font-size: 11px;
    }
    
    footer .btn-footer .contact button, .voir-plus button {
        font-size: 11px;
        padding: 0px 20px;
        width: 100px;
    }

    footer .btn-footer .contact p, .voir-plus p {
        padding-left: 10px;
        font-size: 11px;
    }

        /* -------------- construct item -------------- */
        .contruct-item {
            width: 300px;
            padding: 50px 0;
            margin: 0 auto;
        }
    
        .contruct-item img {
            width: 70px;
        }
    
        .contruct-item h1 {
            font-size: 18px;
        }

    /* ---------- */                /* ---------- */
    /* -------------- PAGE ACCUEIL -------------- */
    /* ---------- */                /* ---------- */
    
    /* -------------- accueil -------------- */
    .accueil {
        height: 30vh;
    }

    .accueil h1 {
        font-size: 50px;
    }

    /* -------------- a propos -------------- */
    .a-propos {
        width: 90%;
    }

    /* ---------- */                /* ---------- */
    /* -------------- PAGE COVERS / COMPO -------------- */
    /* ---------- */                /* ---------- */

    /* -------------- title -------------- */
    .title h1 {
        font-size: 25px;
    }

    /* -------------- media -------------- */
    .main .media .text-desc {
        font-size: 15px;
        padding: 0 40px;
    }

    .main .media .media-body .media-card p {
        font-size: 14px;
    }


    /* ---------- */                /* ---------- */
    /* -------------- PAGE REPERTOIRE -------------- */
    /* ---------- */                /* ---------- */

    /* -------------- repertoire -------------- */

    .main .repertoire {
        grid-template-columns: 100%;
    }
}
