/* ---------- */           /* ---------- */
/* -------------- GENERAL -------------- */
/* ---------- */           /* ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background: #252A37;
}

/* -------------- header -------------- */
header {
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    padding: 15px 40px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 230px;
}

header nav .toggle {
    display: none;
}

header nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 16px;
}

header nav .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

header nav .menu li a:hover {
    color: #ff6600;
    text-decoration: none;
    padding: 0 20px;
}

header nav .menu li .active {
    font-weight: bold;
}

/* -------------- footer -------------- */
footer .citation {
    background: #E3E3E3;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
}

footer .btn-footer {
    display: flex;
    background: #E3E3E3;
    border: 3px solid #252A37;
}

footer .btn-footer .contact, .voir-plus {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

footer .btn-footer .contact p, .voir-plus p {
    font-size: 14px;
    padding-left: 50px;
    margin: 15px 0;
}

footer .btn-footer .contact button, .voir-plus button {
    background: #252A37;
    color: #ff6600;
    border: none;
    height: 100%;
    font-size: 15px;
    padding: 0px 30px;
    cursor: pointer;
}

footer .btn-footer .contact button:hover, .voir-plus button:hover {
    background: #ff6600;
    color: #252A37;
    transition: all 0.5s ease; 
}

/* -------------- construct item -------------- */
.contruct-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3E3E3;
    border: 3px solid #ff6600;
    width: 500px;
    padding: 50px 0;
    margin: 0 auto;
}

.contruct-item img {
    width: 110px;
}

.contruct-item h1 {
    margin-left: 30px;
    color: black;
}

/* ---------- */                /* ---------- */
/* -------------- PAGE ACCUEIL -------------- */
/* ---------- */                /* ---------- */

/* -------------- accueil -------------- */
.accueil {
    background: url('../img/guitar.png');
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil h1 {
    font-size: 100px;
}

/* -------------- a propos -------------- */
.a-propos {
    position: relative;
    width: 60%;
    padding: 0 50px;
    margin: 150px auto 150px auto;
    display: flex;
    align-items: center;
}

.a-propos .text {
    position: absolute;
    background: #E3E3E3;
    width: 60%;
    padding: 10% 15% 10% 10%;
}

.a-propos .text a {
    color: #ff6600;

}

.a-propos .text h1 {
    margin-bottom: 30px;
}

.a-propos img {
    position: relative;
    margin-left: 55%;
    width: 45%;
}

/* ---------- */                /* ---------- */
/* -------------- PAGE COVERS / COMPO -------------- */
/* ---------- */                /* ---------- */

/* -------------- title -------------- */
.title {
    background: url('../img/guitar.png');
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title h1 {
    font-size: 40px;
    padding: 20px;
}

/* -------------- media -------------- */
.main {
    color: white;
}

.main .media .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.main .media .subtitle .lg {
    border: 3px solid white;
}

.main .media .subtitle .little-lg {
    width: 100px;
    margin-right: 30px;
}

.main .media .subtitle .tall-lg {
    width: 100%;
    margin-left: 30px;
}

.main .media .text-desc {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.main .media .media-body {
    display: flex;
    justify-content: space-around;
}

.main .media .media-body .media-card-left, .media-card-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main .media .media-body .media-card-left {
    align-items: flex-end;
}

.main .media .media-body .media-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #E3E3E3;
    color: black;
    border: 3px solid #ff6600;
    width: 70%;
    margin: 30px;
}

.main .media .media-body .media-card p {
    font-size: 18px;
    padding: 20px 10px;
}

.main .media .media-body .media-card audio {
    width: 100%;

}

/* ---------- */                /* ---------- */
/* -------------- PAGE REPERTOIRE -------------- */
/* ---------- */                /* ---------- */

/* -------------- repertoire -------------- */

.main .repertoire {
    /* overflow-y: scroll; */
    width: 90%;
    margin: 100px auto;
    padding: 20px 0;
    /* height: 600px; */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border: 3px solid #ff6600;
    background: rgba(0, 0, 0, 0.3);
}

.main .repertoire p {
    display: flex;
    align-items: center;
    margin: 10px 30px;
}

.main .repertoire img {
    width: 100px;
    margin-right: 10px;
}

/* ---------- */                /* ---------- */
/* -------------- PAGE CREDITS -------------- */
/* ---------- */                /* ---------- */

/* -------------- credit -------------- */

.credit {
    width: 80%;
    margin: 80px auto;
    border: 3px solid #ff6600;
}

.credit .credit-item {
    display: flex;
    justify-content: space-between;
    margin: 50px 10px;
    align-items: center;
}

.credit .credit-item .text-img {
    width: 50%;
}

.credit .credit-item .text-img a {
    color: #ff6600;
}



.credit .credit-item .img-guitar {
    width: 300px;
}

.credit .credit-item .img-mic {
    width: 200px;
}

.credit .credit-item .logo-guitar {
    width: 100px;
}

/* ---------- */                /* ---------- */
/* -------------- PAGE BONUS -------------- */
/* ---------- */                /* ---------- */

.main .container-bonus {
    display: flex;
    margin: 80px 0;
    justify-content: space-around;
}

.main .container-bonus .site-copains, .livre-dor {
    width: 45%;
    text-align: center;
}

.main .container-bonus .site-copains a, .livre-dor a {
    color: #ff6600;
}

.main .container-bonus .site-copains h1, .livre-dor h1 {
    margin-bottom: 25px;
}

/* -------------- site des copains -------------- */

.main .container-bonus .site-copains .site-copains-item {
    margin-top: 20px;
}

/* -------------- livre d'or -------------- */
.main .container-bonus .livre-dor p {
    margin: 20px 0;
}
